.middle-items{data: {message: {id: message.id}}}
  .middle-items__info
    .middle-items__info__name
      = message.user.name
    .middle-items__info__date
      = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
  .middle-items__message
    - if message.content.present?
      %p.middle-items__message__text
        = message.content
    = image_tag message.image.url, class: 'middle-items__message__image' if message.image.present?