* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
}

.side-bar {
  width: 300px;
  background: #2d3288;
  border-right: 1px solid #eeeeee;
  &__user-name {
    height: 100px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    .top-items {
      height: 20px;
      width: 260px;
      color: $white;
      @include clearfix();
      align-items: center;
      &__name {
        font-size: 16px;
        font-weight: bold;
      }
      &__btns {
        display: flex;
        justify-content: end;
        list-style: none;
        &--icon {
          color: $white;
          margin-left: 5px;
          font-size: 16px;
        }
      }
    }
  }
  &__group-list {
    height: calc(100vh - 100px);
    background: $white;
    padding: 0px 20px;
    overflow: scroll;
    &__box {
      padding: 20px 0px 40px;
      text-decoration: none;
      display: block;
      &__group-name {
        font-size: 15px;
        margin-bottom: 5px;
        color: #333333;
      }
      &__group-message {
        font-size: 11px;
        color: #333333;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #262a7e;
  &__group-info {
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    padding: 0px 40px;
    @include clearfix();
    &__group {
      &__name {
        font-size: 20px;
        color: $white;
        margin-top: 35px;
      }
      &__list {
        margin-top: 15px;
        font-size: 12px;
        color: #999999;
        display: flex;
        li {
          margin-right: 5px;
        }
      }
    }
    &__editbtn {
      height: 40px;
      width: 72px;
      line-height: 40px;
      border: 1px solid $white;
      color: $white;
      font-size: 16px;
      margin-top: 28px;
      padding: 0px 20px;
      text-decoration: none;
      border-radius: 10px;
    }
  }
  &__message-list {
    height: calc(100vh - 100px - 90px);
    background-color: #a8a5ec;
    padding: 35px 40px 0px;
    overflow: scroll;
    .middle-items {
      margin-bottom: 46px;
      &__left,
      &__right {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
      &__right {
        align-items: flex-end;
      }
      &__info {
        margin-bottom: 12px;
        display: flex;
        &__name {
          font-size: 16px;
          color: #333333;
        }
        &__date {
          font-size: 12px;
          color: #191d1a;
          margin-left: 10px;
        }
      }
      &__message {
        max-width: 90%;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 5px 13px 5px 18px;
        border-radius: 12px;
        background: #6ada54;
        box-sizing: border-box;
        margin: 0 !important;
        line-height: 1.5;
        font-size: 14px;
        color: #434a54;
        &__text {
          word-break: break-all;
        }
        &:after {
          content: "";
          position: absolute;
          border: 10px solid transparent;
        }
      }
      &__left :after {
        left: -26px;
        border-right: 22px solid #6ada54;
      }
      &__right :after {
        right: -26px;
        border-left: 22px solid #6ada54;
      }
    }
  }
  &__message-form {
    height: 90px;
    background-color: #d2d2d2;
    padding: 20px 30px 20px 30px;
    .bottom-items {
      @include clearfix();
      &__new-message {
        width: 100%;
        position: relative;
        border-radius: 10px;
        &__text {
          height: 50px;
          width: 100%;
          font-size: 16px;
          padding: 0px 45px 0px 10px;
          border: none;
          border-radius: 10px;
        }
        &__image {
          height: 50px;
          position: absolute;
          right: 10px;
          &__icon {
            font-size: 25px;
            line-height: 50px;
          }
          &__btn {
            display: none;
          }
        }
      }
      &__submitbtn {
        height: 50px;
        font-size: 16px;
        color: $white;
        background-color: $blue;
        padding: 0px 20px;
        margin-left: 15px;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
